# ignore all directories with the name archive
archive/

# ignore all directories with the name test
test/

# ignores all yaml files
.yaml

# Does not ignore the config.yaml & data.yaml files
!config.yaml
!data.yaml

# ignores all .md files
.md

# does not ignore the README.md file
!README.md